div {
}

#first {
  margin: auto;
  width: auto;
  height: auto;
  text-align: center;
  /*display: inline-block;*/
  margin-top: 40px;
  position: relative;
  margin-bottom: 40px;
}

#cloud {
  margin: auto;
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  #cloud {
    width: 60%;
  }
}

#heading1 {
  font-weight: 500;
  position: absolute;
  text-align: center;
  /*top: 13%;*/
  /*left: 30%;*/
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#changing-heading {
  font-weight: 500;
  position: absolute;
  text-align: center;
  /*top: 13%;*/
  /*left: 30%;*/
  left: 50%;
  right: 50%;
  transform: translate(-50%, 100%);
  width: 50%;
}

#cta {
  width: 9rem;
  height: 2.5rem;
  background: #03c36b !important;
}

.navbar-brand {
  font-weight: 600;
  font-size: 30px;
}

.navbar-brand {
}

a {
}

.nav-item {
  font-size: 20px;
  font-family: 'Montserrat';
}

@media (min-width: 1000px) {
  #heading1 {
    top: 90px;
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  #heading1 {
    top: 80px;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #heading1 {
    top: 60x;
    font-size: 18px;
    width: 60%;
  }
}

@media (max-width: 400px) {
  #heading1 {
    font-size: 8px;
    top: 30px;
    width: 70%;
  }
}

@media (min-width: 1000px) {
  #changing-heading {
    top: 100px;
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  #changing-heading {
    top: 90px;
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  #changing-heading {
    top: 70px;
    font-size: 20px;
    width: 60%;
  }
}

@media (max-width: 400px) {
  #changing-heading {
    font-size: 16px;
    top: 45px;
    width: 70%;
  }
}

#para1 {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  max-width: 800px;
}

#heading2 {
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  #para1 {
    font-size: 12px;
    width: 80%;
  }
}



@media (min-width: 768px) {
  #row1 {
    width: 600px;
    margin: auto;
    /*margin-bottom: 40px;*/
  }
}

@media (min-width: 1200px) {
  #row1 {
    width: 800px;
  }
}

.circle-icon {
  margin: auto;
  width: 130px;
  float: right;
  mix-blend-mode: multiply;
}

#two {
  float: left;
}

#personalised-hr {
  margin-left: auto;
}

#row1 {
  margin-bottom: 35px;
}

#second {
}

#div-cta {
  text-align: center;
}

#fourth {
  text-align: center;
  margin-top: 50px;
}

#cta-1 {
  position: absolute;
  right: 0;
  top: 0;
  background: #03c36b !important;
}

#submit {
  position: relative;
  display: inline-block;
}

#imgSoftware {
  margin: auto;
}

div {
}

#test {
}

#box2 {
  float: right;
  width: 400px;
  height: 200px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

#box1 {
  float: left;
  width: 400px;
  height: 200px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

#imgbox-1 {
  float: right;
  max-width: 100%;
}

#img_box2 {
  height: 200px;
  width: auto;
  float: left;
  margin-left: -25px;
}

#img_box1 {
  height: 200px;
  width: auto;
  float: right;
  margin-right: -25px;
}

@media (max-width: 400px) {
  #box1 {
    width: 180px;
    height: 150px;
    padding: auto;
    padding: 0;
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  #img_box1 {
    height: 150px;
    width: auto;
    margin-right: -50px;
  }
}

#img_box1 {
}

@media (max-width: 400px) {
  #box2 {
    height: 150px;
    width: 180px;
    padding: 0px;
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  #img_box2 {
    height: 150px;
    width: auto;
    margin-left: -50px;
  }
}

#box1 {
}

@media (min-width: 576px) {
  #box1 {
    width: 300px;
  }
}

@media (min-width: 768px) {
  #box1 {
    width: 400px;
  }
}

#input {
  border-color: #03c36b !important;
}

@media (min-width: 300px) {
  #input {
    width: 320px;
  }
}

@media (min-width: 576px) {
  #input {
    width: 400px;
  }
}

#stepH {
  font-size: 24px;
  font-weight: 600;
}

#parabox {
  margin: auto;
}

@media (min-width: 300px) {
  #parabox {
    font-size: 14px;
    width: 150px;
  }
}

@media (min-width: 576px) {
  #parabox {
    font-size: 16px;
    width: 250px;
  }
}

